h2 {
    margin-top: 10px;
}

.navbar {
    margin-bottom: 10px;
}
.navbar .navbar-btn {
    margin-right: 15px;
}
#mobile-nav.navbar {
    margin-bottom: 0;
    background-color: rgba(247, 247, 247, 0.95);
    border-top: 1px solid rgb(230, 230, 230);
    min-height: 30px;
}
#mobile-nav .navbar-text {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}
@media (min-width: 768px) {
    .navbar-header {
        padding-left: 0;
    }
    #side {
        text-align: right;
    }
    #main_container {
        padding-bottom: 0px;
    }
}
#main_container {
    padding-bottom: 45px;
}
.day {
    margin-bottom: 2em;
    border-left: 0.2em dotted #ccc;
    padding-left: 0.2em;
}
.day-of-week {
    margin-left: 0.4em;
}
.event {
    border-left: 0.2em solid;
    padding-left: .5em;
}
.event.past,
.event.past .label {
    -webkit-transition: opacity 300ms;
       -moz-transition: opacity 300ms;
         -o-transition: opacity 300ms;
            transition: opacity 300ms;
}
.event.past {
    opacity: 0.5;
}
.event.past .label {
    opacity: 0;
}
.event.past:hover {
    opacity: .8;
}
.event.past:hover .label {
    opacity: .6;
}
.event.current {
    border-width: 0.3em;
}
.username .rotate {
    display: block;
    width: 1em;
    position: relative;
    bottom: -3.7em;
    left: -0.25em;
    -webkit-transform: rotate(-70deg);
       -moz-transform: rotate(-70deg);
         -o-transform: rotate(-70deg);
            transform: rotate(-70deg);
}

.u_hidden.hidden {
    margin-top: 0;
    height: 0;
    overflow: hidden;
    display: block !important;
    visibility: visible !important;
}
.u_hidden {
    margin-top: 10px;
}
.u_hidden h5 {
    margin-top: 0;
    margin-bottom: 0;
}
.table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-x: scroll;
    overflow-y: hidden;
    border: 1px solid #ddd;
}
#overview {
    margin-top: -3em;
    border: none;
}
#overview .username {
    border: none;
}
#overview .username th {
    border: none;
    white-space: nowrap;
    height: 7em;
}
#overview .username .close {
    float: none;
    padding-left: .2em;
    font-size: 18px;
    opacity: 0.4;
}
.event-name.past,
.event-name.past ~ td {
    -webkit-transition: opacity 200ms;
       -moz-transition: opacity 200ms;
         -o-transition: opacity 200ms;
            transition: opacity 200ms;
    opacity: 0.6;
}
.event-name.past:hover,
.event-name.past:hover ~ td,
.event-name.past ~ td:hover {
    opacity: .9;
}
.event-name.current,
.event-name.current ~ td {
    background-color: #eee;
}
#overview .day {
    display: block;
    margin-bottom: 0;
    border-left: none;
    padding-left: none;
}
#overview .day td {
    border: none;
    padding-left: 0;
    padding-bottom: 0;
    padding-top: 1em;
}
#overview th {
    border-left: none;
}

.border-muted {
    border-color: rgb(153, 153, 153);
}
.border-primary {
    border-color: rgb(66, 139, 202);
}
.border-warning {
    border-color: rgb(192, 152, 83);
}
.border-danger {
    border-color: rgb(185, 74, 72);
}
.border-success {
    border-color: rgb(70, 136, 71);
}
.border-info {
    border-color: rgb(58, 135, 173);
}

.tooltip-trigger {
    cursor: pointer;
}
a.unstyled {
    color: inherit;
}
