<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Starter Template for Bootstrap</title>

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css">

        <!-- Custom styles for this template -->
        <style>
            #content #events li {
                border-left: 3px solid;
                padding-left: 5px;
            }
            .day {
                margin-bottom: 2em;
            }
        </style>
    </head>

    <body>

        <div class="navbar navbar-inverse navbar-top">
            <div class="container">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Project name</a>
                <div class="nav-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Home</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>

        <div class="container">

            <div class="row" id="main">
                <div class="col-9" id="content">
                </div>
                <div class="col-3">
                    <ul id="all_people"></ul>
                    <ul id="all_jobs"></ul>
                    <button id="show_events" class="btn btn-default btn-small">Show All Events</button>
                </div>
            </div>

        </div><!-- /.container -->

    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" src="js/underscore-min.js"></script>
    <script type="text/javascript" src="js/backbone-min.js"></script>
    <script type="text/javascript" src="js/script.js"></script>

    <script type="text/template" id="list-item-template">
        <a href="#"><%- name %></a>
    </script>
    <script type="text/template" id="short-event-template">
        <a href="#event/<%- id %>"><%- name %></a>
    </script>
    <script type="text/template" id="short-job-template">
        <a href="#job/<%- title_sanitized %>"><%- name %></a>
    </script>
    <script type="text/template" id="short-person-template">
        <a href="#person/<%- username %>"><%- name %></a>
    </script>
    <script type="text/template" id="detail-template">
        <h3></h3>
        <p></p>
    </script>
    <script type="text/template" id="detail-event-template">
        <h3><%- name %></h3>
        <p><%- new Date(time.start) %> to <%- new Date(time.end) %> at <%- place %></p>
        <p><%- description %></p>
    </script>
    <script type="text/template" id="detail-job-template">
        <h3><%- name %></h3>
        <ul id="people" class="list-unstyled list-inline">
            <% _.each(people, function(p) { %>
                <li><%- p %></li>
            <% }); %>
        </ul>
        <ul id="events" class="list-unstyled">
            <% _.each(e_data, function(e) { %>
                <li style="border-color: <%- e.req.color %>"><%- e.name %> - <%- e.place %> at <%- e.time.start %> <span class="label pull-right"><%- e.req.text %></span></li>
            <% }); %>
        </ul>
    </script>
    <script type="text/template" id="detail-person-template">
        <h3><%- name %></h3>
        <ul id="events" class="list-unstyled">
            <% _.each(e_data, function(e) { %>
                <li style="border-color: <%- e.req.color %>"><%- e.name %> - <%- e.place %> at <%- new Date(e.time.start) %> <span class="label pull-right"><%- e.req.text %></span></li>
            <% }); %>
        </ul>
    </script>
    <script type="text/template" id="all-events-template">
        <h3>All Events</h3>
        <ul id="all_events" class="list-unstyled">
            <% _.each(events, function(d) { %>
                <li class="day list-unstyled">
                    <ul class="list-unstyled">
                        <% _.each(d, function(e) { %>
                            <li style="">
                                <h4><%- e.name %></h4>
                                <p><%- e.place %> from <%- new Date(e.time.start) %> to <%- new Date(e.time.end) %></p>
                            </li>
                        <% }); %>
                    </ul>
                </li>
            <% }); %>
        </ul>
    </script>

    </body>
</html>
