<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Schedule | WWU ResTek</title>

    <!-- -- -- -->
    <!--  CSS  -->
    <!-- -- -- -->
    <link rel="stylesheet" href="css/bootstrap-min.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="navbar navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Schedule</a>
                <!-- <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button> -->
            </div>
            <!-- <div class="collapse navbar-collapse">
            </div> -->
        </div>

    </div>

    <div class="container">
        <div class="row" id="main">
            <div class="col-sm-9 col-lg-10" id="content">
            </div>
            <div class="col-sm-3 col-lg-2" id="side">
                <h4><a href="#person" class="unstyled">#person</a></h4><!-- #hashtags for you, @firassity -->
                <ul id="all_people" class="list-unstyled"></ul>
                <h4><a href="#job" class="unstyled">#job</a></h4>
                <ul id="all_jobs" class="list-unstyled"></ul>
                <p><button id="show_events" class="btn btn-default">All Events</button></p>
                <p><button id="show_overview" class="btn btn-default">Overview</button></p>
            </div>
        </div>
    </div>

    <!-- -- -- -- -- -->
    <!--  Javascript -->
    <!-- -- -- -- -- -->
    <script type="text/javascript">
        // GLOBAL vars
        var requirements_list = {
            "r": {
                "text": "Required",
                "label": "danger",
                "description": "Attendance is mandatory"
            },
            "o": {
                "text": "Optional",
                "label": "warning",
                "description": "Attendance is optional"
            },
            "s": {
                "text": "Partial",
                "label": "info",
                "description": "Stay as long as content is relavent"
            },
            "rc": {
                "text": "Possible",
                "label": "info",
                "description": "May not need to stay for content"
            }
        };
    </script>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" src="js/underscore-min.js"></script>
    <script type="text/javascript" src="js/backbone-min.js"></script>
    <script type="text/javascript" src="js/moment-min.js"></script>
    <script type="text/javascript" src="js/bootstrap-min.js"></script>
    <script type="text/javascript" src="js/script.js"></script>

    <!-- -- -- -- -- -- -- -- -- -->
    <!-- Underscore.js templates -->
    <!-- -- -- -- -- -- -- -- -- -->
    <script type="text/template" id="list-item-template">
        <a href="#"><%- name %></a>
    </script>
    <script type="text/template" id="short-event-template">
        <a href="#event/<%- id %>"><%- name %></a>
    </script>
    <script type="text/template" id="short-person-template">
        <a href="#person/<%- username %>"><%- name %></a>
    </script>
    <script type="text/template" id="short-job-template">
        <a href="#job/<%- title_sanitized %>"><%- name %></a>
    </script>
    <script type="text/template" id="detail-template">
        <h3>Empty detail</h3>
    </script>
    <script type="text/template" id="detail-event-template">
        <h3><%- name %></h3>
        <p class="lead"><%- new moment(time.start).format("dddd, MMM Do [from] h:mm a") %>
            <% if (time.end) { %> to <%- new moment(time.end).format("h:mm a") %><% } %></p>
        <% if (place) { %><p class="lead"><%- place %></p><% } %>
        <p><%- description %></p>
    </script>
    <script type="text/template" id="detail-person-template">
        <h2><%- name %> <small><% _.each(jobs, function(j) { %><a href="#job/<%- j %>">#<%- j.replace('-', ' ') %></a> <% }) %></small></h2>
        <ul id="events" class="list-unstyled">
            <% _.each(e_data, function(d) { %>
                <li class="day list-unstyled">
                    <h3 class="day-of-week"><%- new moment(d[0].time.start).format('dddd, MMM Do') %></h3>
                    <ul class="list-unstyled">
                        <% _.each(d, function(e) { %>
                            <li class="event border-<%- e.req.label %>" style="min-height: <%- e.height %>em;">
                                <span class="tooltip-trigger label pull-right label-<%- e.req.label %>" data-toggle="tooltip" data-placement="left" title="<%- e.req.description %>"><%- e.req.text %></span>
                                <h4><a href="#event/<%- e.id %>" title="<%- e.id %>" class="unstyled"><%- e.name %></a></h4>
                                <p><%- new moment(e.time.start).format("h:mm a") %><% if (e.time.end) { %> - <%- new moment(e.time.end).format("h:mm a") %><% } %><% if (e.place) { %>, <%- e.place %><% } %></p>
                            </li>
                        <% }); %>
                    </ul>
                </li>
            <% }); %>
        </ul>
    </script>
    <script type="text/template" id="detail-job-template">
        <h2><%- name %></h2>
        <ul id="people" class="list-unstyled list-inline">
            <% _.each(people, function(p) { %>
                <li><a href="#person/<%- p %>"><%- p %></a></li>
            <% }); %>
        </ul>
        <ul id="events" class="list-unstyled">
            <% _.each(e_data, function(d) { %>
                <li class="day list-unstyled">
                    <h3 class="day-of-week"><%- new moment(d[0].time.start).format('dddd, MMM Do') %></h3>
                    <ul class="list-unstyled">
                        <% _.each(d, function(e) { %>
                            <li class="event border-<%- e.req.label %>" style="min-height: <%- e.height %>em;">
                                <span class="tooltip-trigger label pull-right label-<%- e.req.label %>" data-toggle="tooltip" data-placement="left" title="<%- e.req.description %>"><%- e.req.text %></span>
                                <h4><a href="#event/<%- e.id %>" title="<%- e.id %>" class="unstyled"><%- e.name %></a></h4>
                                <p><%- new moment(e.time.start).format("h:mm a") %><% if (e.time.end) { %> - <%- new moment(e.time.end).format("h:mm a") %><% } %><% if (e.place) { %>, <%- e.place %><% } %></p>
                                <% if (e.description) { %>
                                    <p><%- e.description %></p>
                                <% } %>
                            </li>
                        <% }); %>
                    </ul>
                </li>
            <% }); %>
        </ul>
    </script>
    <script type="text/template" id="all-template">
        <h2>All Nothing</h2>
    </script>
    <script type="text/template" id="all-events-template">
        <h2>All Events</h2>
        <ul id="all_events" class="list-unstyled">
            <% _.each(events, function(d) { %>
                <li class="day list-unstyled">
                    <h3 class="day-of-week"><%- new moment(d[0].time.start).format('dddd, MMM Do') %></h3>
                    <ul class="list-unstyled">
                        <% _.each(d, function(e) { %>
                            <li class="event" style="min-height: <%- (new Date(e.time.end).getTime() - new Date(e.time.start).getTime()) / (1000 * 60 * 15) %>em;">
                                <h4><a href="#event/<%- e.id %>" title="<%- e.id %>" class="unstyled"><%- e.name %></a></h4>
                                <p><%- new moment(e.time.start).format("h:mm a") %><% if (e.time.end) { %> - <%- new moment(e.time.end).format("h:mm a") %><% } %><% if (e.place) { %>, <%- e.place %><% } %></p>
                            </li>
                        <% }); %>
                    </ul>
                </li>
            <% }); %>
        </ul>
    </script>
    <script type="text/template" id="all-people-template">
        <h2>#person</h2>
        <ul id="all_people" class="list-unstyled">
            <% _.each(things, function(p) { %>
                <li class="person list-unstyled">
                    <h4><a href="#person/<%- p.username %>"><%- p.name %></a></h4>
                </li>
            <% }); %>
        </ul>
    </script>
    <script type="text/template" id="all-jobs-template">
        <h2>#job</h2>
        <ul id="all_jobs" class="list-unstyled">
            <% _.each(things, function(j) { %>
                <li class="job list-unstyled">
                    <h4><a href="#job/<%- j.title_sanitized %>"><%- j.name %></a></h4>
                    <ul class="list-inline">
                        <% _.each(j.people, function(p) { %>
                            <li><a class="unstyled" href="#person/<%- p %>"><%- p %></a></li>
                        <% }); %>
                    </ul>
                </li>
            <% }); %>
        </ul>
    </script>
    <script type="text/template" id="overview-template">
        <h2>Overview</h2>
        <div class="btn-group btn-group-sm" data-toggle="buttons">
            <label class="btn btn-default btn-small active">
                <input type="checkbox" id="toggle-jobs" checked> #job
            </label>
            <label class="btn btn-default btn-small">
                <input type="checkbox" id="toggle-people"> #people
            </label>
        </div>
        <ul class="u_hidden list-inline">
            <li><h5>Hidden:</h5></li>
            <% _.each(titles, function(j) { %>
                <li class="<%- j %> hidden job"><a href="#" class="open"><%- j %></a></li>
            <% }); %>
            <% _.each(usernames, function(p) { %>
                <li class="<%- p %> person"><a href="#" class="open"><%- p %></a></li>
            <% }); %>
        </ul>
        <div id="overview_container">
            <table class="table table-bordered" id="overview">
                <thead id="overview_head">
                    <tr class="username">
                        <th></th>
                        <% _.each(titles, function(j) { %>
                            <th class="<%- j %> job"><span class="rotate"><a href="#job/<%- j %>"><%- j.replace('-', ' ') %></a><span class="close">x</span></span></th>
                        <% }); %>
                        <% _.each(usernames, function(p) { %>
                            <th class="<%- p %> hidden person"><span class="rotate"><a href="#person/<%- p %>"><%- p %></a><span class="close">x</span></span></th>
                        <% }); %>
                    </tr>
                </thead>
                <tr>
                <% _.each(events, function(d, d_i) { %>
                    <tr class="day"><td><h4><%- new moment(d[0].time.start).format('dddd') %></h4></td></tr>
                    <% _.each(d, function(e) { %>
                        <th class="event-name"><a href="#event/<%- e.id %>" title="<%- e.id %>" class="unstyled"><%- e.name %></a></th>
                            <% _.each(e.j_data, function(j, j_i) { %>
                                <td class="<%- titles[j_i] %><% if (j) { %> text-<%- requirements_list[j].label %><% }; %> job"><% if (j) { %><span class="tooltip-trigger" data-toggle="tooltip" data-container="body" title="<%- requirements_list[j].description %>"><%- j %></span><% }; %></td>
                            <% }); %>
                            <% _.each(e.p_data, function(u, u_i) { %>
                                <td class="<%- usernames[u_i] %> hidden <% if (u) { %> text-<%- requirements_list[u].label %><% }; %> person"><% if (u) { %><span class="tooltip-trigger" data-toggle="tooltip" data-container="body" title="<%- requirements_list[u].description %>"><%- u %></span><% }; %></td>
                            <% }); %>
                        </tr>
                        <tr>
                    <% }); %>
                    </tr>
                    <tr class="first-of-day">
                <% }); %>
            </table>
        </div>
    </script>

</body>
</html>
