<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Schedule | WWU ResTek</title>

    <!-- -- -- -->
    <!--  CSS  -->
    <!-- -- -- -->
    <link rel="stylesheet" href="css/bootstrap-min.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="navbar navbar navbar-top">
        <div class="container">
            <a class="navbar-brand" href="#">Schedule</a>
        </div>
    </div>

    <div class="container">
        <div class="row" id="main">
            <div class="col-sm-9" id="content">
            </div>
            <div class="col-sm-3 text-right">
                <h4><a href="#person" class="unstyled">#person</a></h4><!-- #hashtags for you, @firassity -->
                <ul id="all_people" class="list-unstyled"></ul>
                <h4><a href="#job" class="unstyled">#job</a></h4>
                <ul id="all_jobs" class="list-unstyled"></ul>
                <!-- <h4><a href="#event" class="unstyled">#event</a></h4> -->
                <button id="show_events" class="btn btn-default btn-small">All Events</button>
            </div>
        </div>
    </div>

    <!-- -- -- -- -- -->
    <!--  Javascript -->
    <!-- -- -- -- -- -->
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" src="js/underscore-min.js"></script>
    <script type="text/javascript" src="js/backbone-min.js"></script>
    <script type="text/javascript" src="js/moment-min.js"></script>
    <script type="text/javascript" src="js/bootstrap-min.js"></script>
    <script type="text/javascript" src="js/script.js"></script>

    <!-- -- -- -- -- -- -- -- -- -->
    <!-- Underscore.js templates -->
    <!-- -- -- -- -- -- -- -- -- -->
    <script type="text/template" id="list-item-template">
        <a href="#"><%- name %></a>
    </script>
    <script type="text/template" id="short-event-template">
        <a href="#event/<%- id %>"><%- name %></a>
    </script>
    <script type="text/template" id="short-person-template">
        <a href="#person/<%- username %>"><%- name %></a>
    </script>
    <script type="text/template" id="short-job-template">
        <a href="#job/<%- title_sanitized %>"><%- name %></a>
    </script>
    <script type="text/template" id="detail-template">
        <h3>Empty detail</h3>
    </script>
    <script type="text/template" id="detail-event-template">
        <h3><%- name %></h3>
        <p><%- new moment(time.start).format("dddd, MMM Do h:mm a") %>
        <% if (time.end) { %> to <%- new moment(time.end).format("dddd, MMM Do h:mm a") %><% } %>
        <% if (place) { %> at <%- place %><% } %></p>
        <p><%- description %></p>
    </script>
    <script type="text/template" id="detail-person-template">
        <h2><%- name %> <small><% _.each(jobs, function(j) { %><a href="#job/<%- j %>">#<%- j.replace('-', ' ') %></a> <% }) %></small></h2>
        <ul id="events" class="list-unstyled">
            <% _.each(e_data, function(d) { %>
                <li class="day list-unstyled">
                    <h3 class="day-of-week"><%- new moment(d[0].time.start).format('dddd, MMM Do') %></h3>
                    <ul class="list-unstyled">
                        <% _.each(d, function(e) { %>
                            <li class="event border-<%- e.req.label %>" style="min-height: <%- e.height %>em;">
                                <span class="tooltip-trigger label pull-right label-<%- e.req.label %>" data-toggle="tooltip" data-placement="left" title="<%- e.req.description %>"><%- e.req.text %></span>
                                <h4><%- e.name %></h4>
                                <p><% if (e.place) { %><%- e.place %>, <% } %>
                                <%- new moment(e.time.start).format("h:mm a") %><% if (e.time.end) { %> - <%- new moment(e.time.end).format("h:mm a") %><% } %></p>
                            </li>
                        <% }); %>
                    </ul>
                </li>
            <% }); %>
        </ul>
    </script>
    <script type="text/template" id="detail-job-template">
        <h2><%- name %></h2>
        <ul id="people" class="list-unstyled list-inline">
            <% _.each(people, function(p) { %>
                <li><a href="#person/<%- p %>"><%- p %></a></li>
            <% }); %>
        </ul>
        <ul id="events" class="list-unstyled">
            <% _.each(e_data, function(d) { %>
                <li class="day list-unstyled">
                    <h3 class="day-of-week"><%- new moment(d[0].time.start).format('dddd, MMM Do') %></h3>
                    <ul class="list-unstyled">
                        <% _.each(d, function(e) { %>
                            <li class="event border-<%- e.req.label %>" style="min-height: <%- e.height %>em;">
                                <span class="tooltip-trigger label pull-right label-<%- e.req.label %>" data-toggle="tooltip" data-placement="left" title="<%- e.req.description %>"><%- e.req.text %></span>
                                <h4><%- e.name %></h4>
                                <p><% if (e.place) { %><%- e.place %>, <% } %>
                                <%- new moment(e.time.start).format("h:mm a") %><% if (e.time.end) { %> - <%- new moment(e.time.end).format("h:mm a") %><% } %></p>
                                <% if (e.description) { %>
                                    <p><%- e.description %></p>
                                <% } %>
                            </li>
                        <% }); %>
                    </ul>
                </li>
            <% }); %>
        </ul>
    </script>
    <script type="text/template" id="all-template">
        <h2>All Nothing</h2>
    </script>
    <script type="text/template" id="all-events-template">
        <h2>All Events</h2>
        <ul id="all_events" class="list-unstyled">
            <% _.each(events, function(d) { %>
                <li class="day list-unstyled">
                    <h3 class="day-of-week"><%- new moment(d[0].time.start).format('dddd, MMM Do') %></h3>
                    <ul class="list-unstyled">
                        <% _.each(d, function(e) { %>
                            <li class="event" style="min-height: <%- (new Date(e.time.end).getTime() - new Date(e.time.start).getTime()) / (1000 * 60 * 15) %>em;">
                                <h4><small><a href="#event/<%- e.id %>" title="<%- e.id %>">#</a></small> <%- e.name %></h4>
                                <p><% if (e.place) { %><%- e.place %>, <% } %>
                                <%- new moment(e.time.start).format("h:mm a") %><% if (e.time.end) { %> - <%- new moment(e.time.end).format("h:mm a") %><% } %></p>
                            </li>
                        <% }); %>
                    </ul>
                </li>
            <% }); %>
        </ul>
    </script>
    <script type="text/template" id="all-people-template">
        <h2>#person</h2>
        <ul id="all_people" class="list-unstyled">
            <% _.each(things, function(p) { %>
                <li class="person list-unstyled">
                    <h4><a href="#person/<%- p.username %>"><%- p.name %></a></h4>
                </li>
            <% }); %>
        </ul>
    </script>
    <script type="text/template" id="all-jobs-template">
        <h2>#job</h2>
        <ul id="all_jobs" class="list-unstyled">
            <% _.each(things, function(j) { %>
                <li class="job list-unstyled">
                    <h4><a href="#job/<%- j.title_sanitized %>"><%- j.name %></a></h4>
                    <ul class="list-inline">
                        <% _.each(j.people, function(p) { %>
                            <li><a class="unstyled" href="#person/<%- p %>"><%- p %></li>
                        <% }); %>
                    </ul>
                </li>
            <% }); %>
        </ul>
    </script>
    <script type="text/template" id="overview-template">
        <h2>Overview</h2>
    </script>

</body>
</html>
